:root {
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --main-grey: #e7e5e4;
  --text-size: 1rem;
  --main-color: #acd7ec;
  --global-margin-top: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
li,
span {
  list-style-type: none;
  font-size: 1.2rem;
}

li:hover,
button:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-shadow: var(--shadow);
}

.diary-container {
  width: max(600px, 80%);
  height: 600px;
  background-color: white;
}

.icon {
  width: 30px;
  height: 30px;
}

.heading-container {
  display: flex;
  align-items: center;
  padding: 24px;
  height: 75px;
  background-color: #146c94;
  gap: 8px;
  box-shadow: var(--shadow);
}

.content-container {
  display: flex;
  height: 525px;
  box-shadow: var(--shadow);
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: max(200px, 20%);
  padding: 24px;
  border-right: var(--main-grey);
  background-color: #afd3e2;
  box-shadow: var(--shadow);
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.note-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: max(1200px, 80%);
  gap: 12px;
  background-color: #f6f1f1;
  overflow-y: scroll;
}

.create-button {
  background-color: #19a7ce;
  padding: 12px;
}

.note {
  display: flex;
  padding: 10px;
  background-color: #afd3e2;
  justify-content: space-between;
}

.detail-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.adjust-text {
  margin-bottom: 2px;
}

.note-left,
.note-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.note-left {
  margin-left: 12px;
}

.form-container,
.detail-container,
.edit-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s;
  z-index: 10;
}

.form-container {
  top: 28%;
  left: 25%;
  width: max(50%, 450px);
}

.form-header {
  padding: 12px;
  background-color: rgb(50, 104, 205);
}

.form-content {
  display: flex;
  background-color: white;
  height: 320px;
}

.form-sidebar {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 120px;
  padding: 12px;
  background: white;
  border-right: var(--main-grey);
  background-color: #afd3e2;
  box-shadow: var(--shadow);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: max(100%, 400px);
  background-color: white;
}

.top-form {
  display: flex;
  flex-direction: column;
}

.top-input {
  border: none;
  font-size: var(--text-size);
}

.title,
.detail {
  outline: none;
  padding: 12px;
}

.title {
  height: 50px;
}

.detail {
  height: 150px;
  overflow-y: auto;
  resize: none;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 12px;
  margin-bottom: 30px;
}

.date-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.date {
  margin-top: 4px;
}

.checkbox-label {
  padding: 8px;
}

.priority-and-submit {
  display: flex;
  justify-content: space-between;
}

.priority-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submit-button {
  font-size: 12px;
  background-color: #acd7ec;
  padding: 4px;
}

.hide {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  animation: fadeIn 0.5s;
}

.green {
  border-left: solid 0.5rem green;
}

.red {
  border-left: solid 0.5rem red;
}

.yellow {
  border-left: solid 0.5rem yellow;
}

.detail-container {
  top: 40%;
  left: 35%;
  width: max(30%, 250px);
  background-color: #acd7ec;
  box-shadow: var(--shadow);
  padding: 12px;
  color: black;
  border: solid white;
}

.detail-list {
  padding: 0 0 12px 12px;
  font-size: 16px;
}

.detail-content {
  display: flex;
  gap: 12px;
}

.detail-header {
  font-weight: bold;
}

.edit-container {
  top: 28%;
  left: 25%;
  width: max(50%, 450px);
}

.highlight {
  color: rgb(30, 99, 190);
  font-size: 1.5rem;
}

.plist-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-list {
  font-size: 1rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
